@import "../base-components";

.woocommerce-products-header {
	padding: pxToRem(20) pxToRem(20);
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	border-bottom: 2px solid var(--cl-border);
	width: 100%;
	&__title {
		font-size: pxToRem(40);
		line-height: 1.15;
		margin: 0;
		@include media-breakpoint-up(md) {
			font-size: pxToRem(60);
		}
	}
	@include media-breakpoint-up(md) {
		padding: pxToRem(23) pxToRem(48);
	}
}

.woocommerce-no-products-found {
	padding: 20px 20px;
	width: 100%;
}
