@import "../base-components";

.facetwp-facet {
	margin: 0 !important;
	&.facetwp-type-fselect {
		.fs-wrap {
			border: 0;
			width: auto;
			display: block;
			.fs-label-wrap {
				border: 0;
				.fs-label {
					font-size: pxToRem(14);
					padding-left: 0;
					color: #909090;
					font-family: $font-body;
					text-transform: uppercase;
				}
			}
			.fs-search {
				border: 1px solid var(--cl-gold);
				background: #f4efef;
				input {
					text-align: center;
					font-size: pxToRem(12);
					line-height: 1.2;
				}
			}
			&.multiple {
				.fs-option {
					margin: 5px 0;
				}
			}
		}

		.fs-arrow {
			border-top: 5px solid #909090;
			&:before {
				position: absolute;
				left: -5px;
				top: -7px;
				content: "";
				display: block;
				border-left: 5px solid transparent;
				border-right: 5px solid transparent;
				border-top: 5px solid #fff;
			}
		}
	}

	&.facetwp-type-fselect {
		.fs-wrap.multiple {
			.fs-option {
				&.selected {
					.fs-checkbox {
						i {
							background: var(--cl-gold);
						}
					}
				}
				.fs-option-label {
					font-size: pxToRem(12);
					font-family: $font-body;
				}
				.fs-checkbox {
					width: auto;
					i {
						width: 20px;
						height: 20px;
						border: 1px solid var(--cl-gold);
						border-radius: 0;
					}
				}
			}
		}
	}

	.fs-dropdown {
		min-width: 180px;
		border: 1px solid var(--cl-gold);
		padding: 20px 14px 15px;
		transition: opacity 0.3s ease;
	}
}

.facetwp-facet-instock,
.facetwp-facet-available_in_fairmined_gold {
	.facetwp-checkbox {
		position: relative;
		padding-left: 50px;
		background: none !important;
		color: #909090;
		&:before {
			position: absolute;
			left: 0;
			top: 2px;
			content: "";
			display: block;
			width: 40px;
			height: 20px;
			border: 1px solid #e3e3e3;
			border-radius: 30px;
		}
		&:after {
			position: absolute;
			left: 2px;
			top: 4px;
			content: "";
			display: block;
			width: 16px;
			height: 16px;
			border-radius: 100%;
			z-index: 2;
			background-color: #e3e3e3;
			transition: left 0.2s linear;
		}
		&.checked {
			&:before {
				border: 1px solid var(--cl-primary);
			}
			&:after {
				left: 22px;
				background-color: var(--cl-primary);
			}
		}
	}
}

.label-type-checkboxes {
	position: relative;
	padding-left: 50px !important;
	background: 0 0 !important;
	&.disabled {
		cursor: not-allowed;
	}
	&:before {
		position: absolute;
		left: 0;
		top: 2px;
		content: "";
		display: block;
		width: 40px;
		height: 20px;
		border: 1px solid #e3e3e3;
		border-radius: 30px;
	}
	&:after {
		position: absolute;
		left: 2px;
		top: 4px;
		content: "";
		display: block;
		width: 16px;
		height: 16px;
		border-radius: 100%;
		z-index: 2;
		background-color: #e3e3e3;
		transition: left 0.2s linear;
	}
}
