$cl-white: #fff;
$cl-black: #000000;
$cl-green: #127749;
$cl-blue: #0a5486;
$cl-gray: #bcbcb8;
$cl-bright-gray: #edeaea;
$cl-dark-silver: #6d6e71;
$cl-primary: #3f7f88;
$cl-secondary: #fa5160;
$cl-background-image: #dedede;
$cl-gold: #bc8f55;
$cl-red: "red";
$border-color: #bc8f55;
$body-color: #363636;

$primary: $cl-primary;

$theme-colors: (
	"primary": $primary,
);

$theme-colors-rgb: (
	"primary": $primary,
);
$theme-colors-text: (
	"primary": $primary,
);

$spacer: 1rem;
$gutters: (
	0: 0,
	1: $spacer * 0.25,
	2: $spacer * 0.5,
	3: $spacer,
	4: $spacer * 1.5,
	5: $spacer * 3,
	6: $spacer * 3.75,
);

$font-body: "Outfit", sans-serif;
$font-pt-serif: "pt serif";

$max-width: 1400;
$font-family-sans-serif: "Outfit", sans-serif;
$headings-font-family: "New Forest", sans-serif;
$body-color: $cl-black;
$headings-color: $cl-black;
$font-weight-base: normal;
$link-color: $cl-black;
// $color-dark-border: $cl-dark-sienna;
$input-border-color: #e6e6e6;
$input-color: $cl-dark-silver;
$input-placeholder-color: $cl-dark-silver;
$input-border-color: $cl-bright-gray;
$input-focus-border-color: none;
$input-focus-box-shadow: none;

$border-radius: 0;
$border-radius-lg: 0;
$border-radius-sm: 0;

// $input-btn-padding-y: 0.625rem;
// $input-btn-padding-x: 1.0625rem;
// $input-btn-padding-y-sm: 0.625rem;
// $input-btn-padding-x-sm: 1.0625rem;
// $input-btn-padding-y-lg: 0.625rem;
// $input-btn-padding-x-lg: 1.0625rem;

$input-height: 40px;
$input-height-sm: 40px;
$input-height-md: 45px;
$input-height-lg: 55px;

// $custom-switch-width: 3.625rem;
// $custom-switch-indicator-border-radius: 2.5rem;
// $custom-switch-indicator-size: 1.5rem;
// $custom-control-indicator-size: 1.5rem;

$display-font-sizes: (
	1: 2.625rem,
	2: 2.625rem,
	3: 2.25rem,
	4: 1.5rem,
	5: 1rem,
	6: 1rem,
);
$display-font-weight: normal;
$display-line-height: 1.2em;

// grid
// @include media-breakpoint-up(sm) { ... }
// @include media-breakpoint-up(md) { ... }
// @include media-breakpoint-up(lg) { ... }
// @include media-breakpoint-up(xl) { ... }
// @include media-breakpoint-up(xxl) { ... }
// $zindex-dropdown:          1000 !default;
// $zindex-sticky:            1020 !default;
// $zindex-fixed:             1030 !default;
// $zindex-modal-backdrop:    1040 !default;
// $zindex-modal:             1050 !default;
// $zindex-popover:           1060 !default;
// $zindex-tooltip:           1070 !default;
$grid-breakpoints: (
	xs: 0,
	sm: 768px,
	md: 1100px,
	lg: 1480px,
	xl: 1600px,
	xxl: 1960px,
);

$container-max-widths: (
	sm: 540px,
	md: 720px,
	lg: 1200px,
	xl: 1480px,
	xxl: 1960px,
);

$grid-gutter-width: 30px;
$enable-important-utilities: false;
